.dark {
  --md-sys-color-primary: rgb(255 179 181);
  --md-sys-color-surface-tint: rgb(255 179 181);
  --md-sys-color-on-primary: rgb(104 0 24);
  --md-sys-color-primary-container: rgb(128 0 32);
  --md-sys-color-on-primary-container: rgb(255 130 138);
  --md-sys-color-secondary: rgb(186 203 187);
  --md-sys-color-on-secondary: rgb(38 52 40);
  --md-sys-color-secondary-container: rgb(138 154 139);
  --md-sys-color-on-secondary-container: rgb(36 50 38);
  --md-sys-color-tertiary: rgb(242 202 80);
  --md-sys-color-on-tertiary: rgb(60 47 0);
  --md-sys-color-tertiary-container: rgb(212 175 55);
  --md-sys-color-on-tertiary-container: rgb(85 67 0);
  --md-sys-color-error: rgb(255 179 172);
  --md-sys-color-on-error: rgb(104 0 8);
  --md-sys-color-error-container: rgb(211 47 47);
  --md-sys-color-on-error-container: rgb(255 242 240);
  --md-sys-color-background: rgb(28 16 17);
  --md-sys-color-on-background: rgb(245 221 221);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(229 226 224);
  --md-sys-color-surface-variant: rgb(68 71 75);
  --md-sys-color-on-surface-variant: rgb(196 198 204);
  --md-sys-color-outline: rgb(142 145 150);
  --md-sys-color-outline-variant: rgb(68 71 75);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 224);
  --md-sys-color-inverse-on-surface: rgb(49 48 48);
  --md-sys-color-inverse-primary: rgb(175 43 62);
  --md-sys-color-primary-fixed: rgb(255 218 218);
  --md-sys-color-on-primary-fixed: rgb(64 0 11);
  --md-sys-color-primary-fixed-dim: rgb(255 179 181);
  --md-sys-color-on-primary-fixed-variant: rgb(142 15 40);
  --md-sys-color-secondary-fixed: rgb(214 231 214);
  --md-sys-color-on-secondary-fixed: rgb(17 31 20);
  --md-sys-color-secondary-fixed-dim: rgb(186 203 187);
  --md-sys-color-on-secondary-fixed-variant: rgb(60 74 62);
  --md-sys-color-tertiary-fixed: rgb(255 224 136);
  --md-sys-color-on-tertiary-fixed: rgb(36 26 0);
  --md-sys-color-tertiary-fixed-dim: rgb(233 195 73);
  --md-sys-color-on-tertiary-fixed-variant: rgb(87 69 0);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(58 57 56);
  --md-sys-color-surface-container-lowest: rgb(14 14 14);
  --md-sys-color-surface-container-low: rgb(28 27 27);
  --md-sys-color-surface-container: rgb(32 31 31);
  --md-sys-color-surface-container-high: rgb(43 42 41);
  --md-sys-color-surface-container-highest: rgb(53 52 52);
  --md-extended-color-custom-color1-color: rgb(246 192 192);
  --md-extended-color-custom-color1-on-color: rgb(73 39 40);
  --md-extended-color-custom-color1-color-container: rgb(216 165 165);
  --md-extended-color-custom-color1-on-color-container: rgb(95 58 59);
  --md-extended-color-custom-color2-color: rgb(255 181 152);
  --md-extended-color-custom-color2-on-color: rgb(80 35 15);
  --md-extended-color-custom-color2-color-container: rgb(194 129 102);
  --md-extended-color-custom-color2-on-color-container: rgb(17 2 0);
  --md-extended-color-custom-color3-color: rgb(180 198 244);
  --md-extended-color-custom-color3-on-color: rgb(29 47 85);
  --md-extended-color-custom-color3-color-container: rgb(10 31 68);
  --md-extended-color-custom-color3-on-color-container: rgb(118 135 178);
}
