.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 209 210);
  --md-sys-color-surface-tint: rgb(255 179 181);
  --md-sys-color-on-primary: rgb(83 0 18);
  --md-sys-color-primary-container: rgb(243 94 108);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(208 225 208);
  --md-sys-color-on-secondary: rgb(27 41 30);
  --md-sys-color-secondary-container: rgb(138 154 139);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(255 217 102);
  --md-sys-color-on-tertiary: rgb(48 36 0);
  --md-sys-color-tertiary-container: rgb(212 175 55);
  --md-sys-color-on-tertiary-container: rgb(50 38 0);
  --md-sys-color-error: rgb(255 210 205);
  --md-sys-color-on-error: rgb(84 0 5);
  --md-sys-color-error-container: rgb(255 84 78);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(28 16 17);
  --md-sys-color-on-background: rgb(245 221 221);
  --md-sys-color-surface: rgb(20 19 19);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(68 71 75);
  --md-sys-color-on-surface-variant: rgb(218 220 226);
  --md-sys-color-outline: rgb(175 178 183);
  --md-sys-color-outline-variant: rgb(141 144 149);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(229 226 224);
  --md-sys-color-inverse-on-surface: rgb(43 42 41);
  --md-sys-color-inverse-primary: rgb(144 17 41);
  --md-sys-color-primary-fixed: rgb(255 218 218);
  --md-sys-color-on-primary-fixed: rgb(45 0 6);
  --md-sys-color-primary-fixed-dim: rgb(255 179 181);
  --md-sys-color-on-primary-fixed-variant: rgb(115 0 28);
  --md-sys-color-secondary-fixed: rgb(214 231 214);
  --md-sys-color-on-secondary-fixed: rgb(7 20 10);
  --md-sys-color-secondary-fixed-dim: rgb(186 203 187);
  --md-sys-color-on-secondary-fixed-variant: rgb(43 58 46);
  --md-sys-color-tertiary-fixed: rgb(255 224 136);
  --md-sys-color-on-tertiary-fixed: rgb(23 16 0);
  --md-sys-color-tertiary-fixed-dim: rgb(233 195 73);
  --md-sys-color-on-tertiary-fixed-variant: rgb(67 52 0);
  --md-sys-color-surface-dim: rgb(20 19 19);
  --md-sys-color-surface-bright: rgb(69 68 68);
  --md-sys-color-surface-container-lowest: rgb(7 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 29);
  --md-sys-color-surface-container: rgb(40 40 39);
  --md-sys-color-surface-container-high: rgb(51 50 50);
  --md-sys-color-surface-container-highest: rgb(62 61 61);
  --md-extended-color-custom-color1-color: rgb(255 209 209);
  --md-extended-color-custom-color1-on-color: rgb(60 28 29);
  --md-extended-color-custom-color1-color-container: rgb(216 165 165);
  --md-extended-color-custom-color1-on-color-container: rgb(61 29 30);
  --md-extended-color-custom-color2-color: rgb(255 211 194);
  --md-extended-color-custom-color2-on-color: rgb(67 25 6);
  --md-extended-color-custom-color2-color-container: rgb(194 129 102);
  --md-extended-color-custom-color2-on-color-container: rgb(0 0 0);
  --md-extended-color-custom-color3-color: rgb(208 220 255);
  --md-extended-color-custom-color3-on-color: rgb(17 36 74);
  --md-extended-color-custom-color3-color-container: rgb(127 144 188);
  --md-extended-color-custom-color3-on-color-container: rgb(0 0 0);
}
